DOUYIN_PROFILE_URL=https://www.douyin.com/user/MS4wLjABAAAAz-Nssy-G6nNshJODTK3VpEpjWsH1pMHODDPexGS5K-D6EAo5iASK_qCGRb7M5Rbe?from_tab_name=main
CHROME_CDP_URL=http://127.0.0.1:9222
LLM_BASE_URL=https://opencode.ai/zen/go/v1
LLM_API_KEY=
LLM_MODEL=deepseek-v4-flash
